@font-face 
    font-family: 'amgana'
    src: url('../fonts/amganahitsemiserif.ttf')
@font-face 
    font-family: 'slick'
    src: url('../fonts/slick.ttf')
body, html
    min-height: 100vh
    font-family: 'slick'
body
    font-size: 14px
    font-weight: 400
    background-color: #fff
    color: #000
a
    color: #000
    text-decoration: none
    &:hover
        color: #000
        text-decoration: none
ul
    list-style: none
.must-display
    display: block !important
.left
    float: left
.right
    float: right
.nonActive
    transition: 2s ease-in-out
    margin-left: 100vw
    display: none
    
header
    margin-top: 25px
.logo
    margin: 0 auto 0 50px
.tabs
    margin: 10px auto 0
    display: inline-block
    &__tab
        font-size: 18px
        text-transform: uppercase
        padding: 10px
        border-bottom: 3px solid #f0f0f0
        &_active
            border-bottom: 5px solid black
            padding-bottom: 8px
.header-buttons
    margin: 0 50px 0 auto
    &__button
        position: relative
        background-color: #f0f0f0
        width: 46px
        height: 46px
        text-align: center
        vertical-align: middle
        border-radius: 40px
        border: 0
        margin-right: 10px
        outline: none
        &:last-of-type
            margin-right: 0
.button__notification
    position: absolute
    left: -5px
    bottom: -5px
    width: 20px
    height: 20px
    background-color: #000
    color: #fff
    border-radius: 40px
.search-popup
    display: none
    position: absolute
    padding: 23px 30px
    text-align: center
    border-bottom: 4px solid black 
    background-color: #fff
    border-top: 2px solid #3c3c3c
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
    bottom: -120px
    left: -250px
    z-index: 5
    transition: 1s ease-in
    &_active
        display: block !important
    &:after
        position: absolute
        width: 20px
        height: 20px
        background-color: #fff
        content: ''
        top: -12px
        right: 20px
        border-left: 1px solid #3c3c3c
        border-top: 1px solid #3c3c3c
        transform: rotate(45deg)
.search-form
    position: relative
    &__textarea
        width: 240px
        height: 46px
        border: 1px solid #a0a0a0
        color: #000
        text-indent: 10px
    &__submit 
        position: absolute
        top: 50%
        right: 0px
        transform: translateX(-50%) translateY(-50%)
        border: 0
        outline: none
        background: transparent no-repeat
        background-position: center
        padding: 5px 10px
        background-image: url('../i/search-ico.png')
        &__textarea, &__submit
            display: inline-block
nav
    margin-top: 20px
    display: block 
.menu
    background-color: #f0f0f0    
    text-align: center
    &_mobile
        padding-left: 0
    &__point
        padding: 15px 35px
        transition: 0.3s ease-in        
        &:last-of-type
            margin-right: 0
        &:hover, &_active
            background-color: #3c3c3c
        &:hover:before, &_active:before
            position: absolute
            top: -5px
            left: 0
            height: 5px
            width: 100%
            background: #000
            content: ''
        &_active
            background-color: #1e1e1e
        &_active > a, &:hover > a
            color: #fff
    &__point, &__point_active > a
        display: inline-block
        font-size: 18px
        text-transform: uppercase
        position: relative
.submenu
    display: none
    position: absolute
    left: 0
    top: 100%
    background-color: #ffffff
    border-top: 2px solid #3c3c3c
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
    border-bottom: 4px solid #282828
    padding: 10px 25px
    min-width: 265px
    text-align: left
    font-size: 16px
    z-index: 5
    &__point
        display: block
        text-transform: none
        margin-bottom: 5px
        &:last-of-type
            margin-bottom: 0
        &:hover > a
            text-decoration: underline
.product, .product:after
    font-family: 'amgana'
    font-size: 26px
.product
    text-transform: uppercase
    margin: auto
    position: relative
    text-align: center
    &:after
        content: '}'
        display: block
        position: absolute
        bottom: -25px
        left: 50%
        transform: translateX(-50%) rotate(90deg)
.breadcrumbs
    text-align: center
    margin-top: 20px
    &__breadcrumb
        font-weight: 300
        display: inline-block
        &:after
            content: '—'
            color: #a0a0a0
            margin: 0 5px
        &:hover
            text-decoration: underline
        &:last-of-type
            color: #a0a0a0 !important
            &:after
                display: none
main
.slider
    text-align: center
    position: relative
    background-color: #fff
    margin-left: 60px
    &__slide
        img
            margin: auto
            max-width: 400px
.owl
    &-carousel  
    &-prev
        left: 0
        span
            &:after
                content: '<'
    &-next
        right: 0
        span
            &:after
                content: '>'
    &-prev, &-next
        position: absolute
        top: 50%
        height: 100%
        background: #000
        z-index: 100
        width: 40px
        transform: translateY(-50%)
        span
            &:after
                width: 20px
                height: 20px
                font-size: 40px
                top: 50%
                z-index: 50
.goods
    &__title
        font-size: 32px
        text-transform: uppercase
        line-height: 38px  
    &__description
        font-size: 18px
        font-weight: 300
        line-height: 22px
        margin-bottom: 25px
        position: relative
    &__tags
        margin: 25px 0 !important
        text-transform: uppercase
        color: #3d3d3d
        a
            background-color: #e6e6e6
            padding: 10px 
    &__price
        margin-bottom: 0
        &_old
            font-size: 20px
            font-weight: 300
            text-decoration: line-through   
        &_current
            font-size: 26px
            font-weight: 700
    &__conditions
        color: #828282
        font-weight: 300
    &__flavour-text
        font-weight: 300
        max-width: 520px
        font-size: 16px
        &_underlined
            text-decoration: underline
        &_bold
            font-weight: 700
        &_clickable
            &:hover
                cursor: pointer
.order
    &__select-size
        width: 200px
        height: 45px
        margin-bottom: 0
    &__sizes-info
        border: 0
        text-decoration: underline
        background: transparent
        font-size: 16px
        font-weight: 300
        width: 200px
        height: 45px
        margin-left: 26px
        text-align: left
        margin-bottom: 0
        img
            text-decoration: none
            margin-left: 15px
    &__submit-button
        width: 200px
        height: 50px
        border: 2px solid black
        margin-left: 26px
        margin-top: 30px
        font-size: 18px
        &:first-of-type
            margin-left: 0
        &_dark
            color: #fff
            background: #000
        &_light
            background: #fff
.products-info
    margin-top: 75px
    margin-bottom: 60px
    border-bottom: 1px solid #a0a0a0
    &__article
        font-weight: 300
        font-size: 18px
        margin-left: 10px
        &_bald
            font-weight: 400
    &__title
        text-align: left
        border: 0
        border-top: 1px solid #a0a0a0
        width: 100%
        background: #fff
        padding-top: 10px
        padding-bottom: 10px
        margin-left: 5px
        font-size: 20px
        text-transform: uppercase
        position: relative
    &__chars-table
        width: 100%
        margin-bottom: 20px
        margin-left: 10px
        tbody
            padding-bottom: 20px
            tr
                td
                    &:nth-child(1)
                        font-size: 16px
                        font-weight: 600
                        
                    &:nth-child(2)
                        font-weight: 300
footer
    background-color: #1e1e1e
    color: #f0f0f0  
    position: absolute
    
    left: 0
    
    text-align: center
    a
        color: #f0f0f0
        &:hover
            color: #f0f0f0
.inst-button
    position: absolute
    top: 0
    padding: 20px
    border-radius: 40px
    left: 50%
    z-index: 10
    background: #fff
    transform: translateX(-50%) translateY(-50%)
.footer-column
    padding: 50px 0
    margin-right: 0px
    text-align: left
    &:first-of-type
        margin-right: 80px
    &:last-of-type
        margin-right: 0
    &__link-logo
        padding: 0 40px
    &__title
        font-family: Anahit
        font-size: 16px
        text-transform: uppercase
.footer-menu
    padding-left: 0
    &__point
        font-weight: 300
        text-decoration: underline
        line-height: 32px
.call-us
    &__link
        &_bold
            font-size: 20px
    &__description
        margin-top: 10px
        color: #a0a0a0
@media (min-width: 320px) and (max-width: 767px)
    * + *
        max-width: 100vw !important
    main
        padding: 0 !important
    .slider
        margin-left: 0
        padding-left: 0
        text-align: center
        max-width: 100vw
    .goods
        &__description, &__flavour-text
            width: 75vw
        &__conditions
            width: 200px
        &__description, &__flavour-text, &__conditions
            margin-left: auto
            margin-right: auto
    footer
        position: static !important
        top: 0 !important
    .inst-button
        position: relative
    .col-md-6
        padding-left: 0
        padding-right: 0
    .products-info
        //margin: 10px auto
        &__title
            margin-left: -15px
        &__chars-table
            tbody
                tr
                    vertical-align: top
                    td
                        line-height: 22px
                        text-align: left
                        &:nth-child(1)
                            max-width: 30vw
                            padding-right: 35px     
                        &:nth-child(2)
                            max-width: 20vw                        
@media (min-width: 768px) and (max-width: 1169px)
    footer
        padding-top: 20px
@media (max-width: 1169px)
    main, .footer
        transition: 0.3s ease-in-out
    header
        z-index: 1000
    body
        text-align: center
        overflow-x: hidden
        main
            
            div
                margin: auto
    .row
        margin: 0
    .site-hat
        margin-left: 0
        margin-right: 0
        width: 100vw
        padding-top: 20px
        position: fixed
        background-color: #fff
        &_active
            position: static
        &__menu-button
            margin: 0 auto 0 15px !important
            width: 50px
            height: 50px
            font-size: 28px
            font-weight: 900
            position: relative
            border: 0
            background-color: transparent
            &:after
                content: '|||'
                position: absolute
                display: block
                width: 30px
                height: 30px
                top: 50%
                left: 0
                font-weight: 900
                font-size: 30px
                transform: translateX(70%) translateY(-50%)  rotate(90deg)
        &__logo
            margin: 0 auto 0 auto
            img
                transform: scale(-0.65  ) rotate(180deg)
    .header-buttons
        margin: 0 15px 0 auto !important
        &__button
            a
                padding: 5px
                img
                    text-align: center
    .mobile-menu 
        display: none
        background-color: #f0f0f0
        min-height: calc(100vh - 60px)
        transition: 0.3s ease-in-out
        margin-left: -100vw
        &_active
            display: block
            margin-left: 0
    .desktop, .breadcrumbs, .goods__flavour__text, .order__submit-button,
    .order__sizes-info, .slider_desktop
        display: none
    .slider_mobile
        margin: 0 auto
    header
        margin-top: 0px
        border-bottom: 2px solid #8c8c8c
        z-index: 1000
        position: absolute
        footer
            padding-top: 10px
            border-top: 1px solid #a0a0a0
            background: transparent
            color: #000
            .footer-column
                margin-bottom: 10px
                margin-right: 0 !important
                &__title
                    font-family: 'slick'
                    text-transform: none
                    margin-bottom: 5px
                .call-us__link
                    color: #000 !important
                    font-size: 28px
    .search-form
        width: 90vw
        left: 50%
        transform: translateX(-50%)
        &__submit
            right: 5vw
    main
        position: relative
        top: 60px
    .header-buttons__button
        background: transparent
    .button__notification
        display: none
    .nav_mobile
        margin-bottom: -10px
    .personal-links
        background: #fff
        padding: 10px
        border-top: 1px solid #a0a0a0
        border-bottom: 1px solid #a0a0a0
        text-align: left
        &__link
            font-size: 18px
            text-decoration: dotted
            padding: 0 20px
            font-weight: 400
    .search-popup
        display: block
        position: relative
        left: 0
        top: 0
        background: transparent
        border: 0
        box-shadow: none
        &:after
            display: none
    .search-form
        &__textarea
            width: 80vw
            //margin: 0 50px
    .tabs
        border-bottom: 2px solid black
        white-space: nowrap
        padding: 11px 0
        width: 100vw
        text-align: center
        &__tab
            margin: auto
            font-size: 16px
            border-bottom: 0
            &_active
                border-bottom: 8px solid black
    .nav
        &_mobile
            margin-top: 0
            
    .menu
        text-align: left
        &__point
            padding-left: 0
            display: block
            width: 100vw
            position: relative
            padding: 5px 15px
            padding-right: 0
            a
                display: block
                &:after
                    content: '>'
                    position: absolute
                    right: 15px
            &_active
                background-color: #f0f0f0
                & > .submenu
                    display: block !important
                a
                    &:after
                        transform: rotate(90deg)
            &:hover, &:before
                background-color: transparent
            &:before
                height: 0 !important
            &_active > a, &:hover > a
                color: #000
    .submenu
        position: relative
        width: 100vw
        background: transparent
        border: 0
        padding-left: 30px
        box-shadow: none
        margin-left: -20px
        &__point
            padding-left: 0px
            font-size: 16px
            text-transform: uppercase
            font-weight: 300
            a
                &:after
                    display: none
    .goods
        margin-top: 30px
        &__title
            font-family: 'amgana'
            font-size: 26px
        &__description
            font-size: 18px
            font-weight: 300
            line-height: 22px
            &:after
                content: '}'
                display: block
                position: absolute
                bottom: -25px
                left: 50%
                z-index: 2
                transform: translateX(-50%) rotate(90deg)
        &__tags
            margin: 47px 0  30px !important
        &__price, &__conditions
            display: block
    .products-info
        &__title
            margin-left: 0
        &__article
            margin-left: 0
    .footer
        padding: 30px
        text-align: center
        position: static
        .container
            position: relative
    .inst-button
        transform: translateX(-50%)
        margin: 30px 0
    .footer-column
        padding: 0
        text-align: center
        margin: 0 auto
        &__title
            margin-bottom: 10px
            font-family: 'amgana'
    .footer-menu
        text-align: center
        &__point
            margin: 5px 0
            line-height: 15px     
@media (min-width: 1170px)
    .mobile
        display: none
    .menu
        &__point
            &:hover > .submenu
                display: block
    .submenu
        &_active
            display: block !important